<h1><%= @post.title %></h1>

<% if @post.user == current_user %>
  <%= link_to "Delete", show_post_path(@post), :method => :delete %>
<% end %>

<%= render :partial => 'comments/form', locals: { post: @post, comment: @comment } %>

<% @post.comments.each do |comment| %>
<li><%= comment.body %></li>
<%= comment.created_at.strftime("%m/%d/%Y") %> | <%= comment.user.username %>
<% end %>
